<div>
  <div layout="row" layout-align="center">
    <md-switch ng-model="reviewer" ng-change="updateReviewer(reviewer)" aria-label="reviewer">
      <span ng-if="!reviewer"> Become a Reviewer</span>
      <span ng-if="reviewer"> Remove from Reviewer's list</span>
    </md-switch>
  </div>
</div>
<div ng-hide="!reviewer" ng-if="assigned_submissions.length>0">
  <md-card class="md-padding" ng-init="isCollapsed=true">
    <h3>List of Assigned Submissions</h3>
    <md-list flex="">
      <div  ng-repeat="sub in assignedSubDetails">
        <md-list-item ng-click="isCollapsed = !isCollapsed" ng-class="{'selected': !isCollapsed}">
          <div class="md-list-item-text" layout="column">
            <h4><span class="glyphicon glyphicon-chevron-right"></span>  {{sub.title}} | <small>{{sub.status}}</small> </h4>
          </div>
        </md-list-item>
        <div uib-collapse="isCollapsed">
          <div class="well well-lg">

            <div>Title: {{sub.title}}</div>
            <div>Abstract: {{sub.abstract}}</div>
            <div> <span>Keywords:</span> <span ng-repeat="key in sub.keywords"> {{key}},</span></div>
            <md-button ng-disabled="!reviewBtn" class="md-raised md-primary" ui-sref="root.review({submissionId:sub._id})">Review</md-button>
          </div>
        </div>
      </div>
    </md-list>
  </md-card>
</div>