<div>
  <div layout="row" layout-align="center">
    <md-switch ng-model="reviewer" ng-change="updateReviewer(reviewer)" aria-label="reviewer">
      <span ng-if="!reviewer"> Become a Reviewer</span>
      <span ng-if="reviewer"> Remove from Reviewer's list</span>
    </md-switch>
  </div>
</div>

<div>

  <div>
    <a href="/review">Make Review</a>
    <table class="table">
      <thead>
      <tr class="table-headers">
        <th ng-repeat="h in headers" class="table-header">
          <a href="#">{{h.name}}</a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="c in content" class="table-content">
        <td class="table-content">{{c.title}}</td>
        <td class="table-content">{{c.author_id}}</td>
        <td class="table-content">{{c.keywords}}</td>
        <td class="table-content">{{c.status}}</td>
        <td><a href="/review">Make Review</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>