<div ng-init="listSubmissions()">
  <div>
    <p>Click Here to <a ui-sref="root.newsub">Add a new Submission</a></p>
  </div>
  <div>
    <div>
      <md-card class="md-padding" ng-init="isCollapsed=true">
        <h3>List of Submissions</h3>
        <md-list flex="">
          <div  ng-repeat="sub in submission">
            <md-list-item ng-click="isCollapsed = !isCollapsed" ng-class="{'selected': !isCollapsed}">
              <div class="md-list-item-text" layout="column">
                <h4>
                  <span class="glyphicon glyphicon-chevron-right"></span>  {{sub.title}} | <small>{{sub.status}}</small>
                </h4>
              </div>
            </md-list-item>
            <div uib-collapse="isCollapsed">
              <div class="well well-lg">
                <div>Title: {{sub.title}}</div>
                <div>Abstract: {{sub.abstract}}</div>
                <div>Keywords: {{sub.keywords}}</div>
                <div>Authors: {{sub.authors}}</div>
                <div>
                  <md-button  ng-if="sub.path" target="_self" ng-href="{{sub.path}}" download="{{sub.path}}" class="md-fab md-primary" aria-label="Comment">
                    <md-tooltip md-direction="left"> Download Paper </md-tooltip>
                    <span class="glyphicon glyphicon-download-alt">
                    </span>
                  </md-button>
                  <md-button ui-sref="root.submission({submissionId:sub._id})" class=" md-fab md-primary" aria-label="Comment">
                    <md-tooltip md-direction="right"> Edit Submission </md-tooltip>
                    <span class="glyphicon glyphicon-pencil">
                    </span>
                  </md-button>
                  <md-button  ng-click="remove(sub,$index)" class=" md-fab md-warn" aria-label="Comment">
                    <md-tooltip md-direction="right"> Remove Submission </md-tooltip>
                    <span class="glyphicon glyphicon-remove">
                    </span>
                  </md-button>
                </div>
              </div>
            </div>
          </div>
        </md-list>
      </md-card>
    </div>
  </div>
</div>