@import "dashboard.css";


md-sidenav  {
height:100%;

}
body{
  background-color: #F8F8F8;
}

.red {
  color:red;
}
.login-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}
.login-container label{
  font-weight: normal !important;
}

#footer{
  bottom:0;
  position:fixed;
  height:30px;
  width:100%;
}
.footer-container{
  padding-right:16px;
  padding-left:16px;
}
#footer .time{
  right:0;
  margin-right:15px;
  position:absolute;
}
.text-center {
  text-align: center;
}

#side-nav md-content md-list {
  padding-left:0 ;
  padding-right:0;
}
h5 {
  text-align: center;
}

#side-nav span{
  text-align: right;
}


md-content {
  background-color: transparent;
}
md-select-menu md-content {
  background-color:white;
}
md-pagination-wrapper{
  margin:0 auto;
  position:inherit;
}
.chipsdemoCustomInputs .veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }

.chipsdemoCustomInputs .veggie-option .md-item-text h3,
.chipsdemoCustomInputs .veggie-option .md-item-text p {
  padding: 0;
  margin: 0; }

.chipsdemoCustomInputs .veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; }

.authors-list{
  background-color:white;
  padding:6px;
}