<md-content class="md-padding">
  <h3>List of Unassigned Submissions</h3>
  <md-list flex="">
    <div  ng-repeat="sub in submissions">
      <md-list-item ng-click="isCollapsed = !isCollapsed" ng-class="{'selected': !isCollapsed}">
        <div class="md-list-item-text" layout="column"> <h3>{{sub.title}} <small>{{sub.reviewer}}</small>  </h3></div>
      </md-list-item>
      <div uib-collapse="isCollapsed">
        <div class="well well-lg">
          <div>Title: {{sub.title}}</div>
          <div> <span>Keywords:</span> <span ng-repeat="key in sub.keywords"> {{key}},</span></div>
          Authors:
          <div ng-repeat="author in sub.authors">
            {{author.email}} | {{author.first_name}} {{author.last_name}}
          </div>
          <div layout="row" layout-align="" >
            <md-input-container flex="">
              <md-select flex="" placeholder="Reviewer" ng-model="selectedReviewer" aria-label="selectedReviewer">
                <md-option ng-repeat="reviewer in reviewers" ng-value="reviewer" ng-disabled="checkAuthors(reviewer.email,sub.authors)">
                  {{reviewer.username}} | assigned submissions:{{reviewer.assigned_submissions.length}}
                  <span ng-if="reviewer._id === sub.author_id">Author</span>
                </md-option>
              </md-select>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="assign(sub._id,selectedReviewer._id)">Assign</md-button>
          </div>
        </div>
      </div>
      <md-divider ></md-divider>
    </div>
  </md-list>
</md-content>