<div>
  <md-content  layout-gt-sm="column" layout-padding="">
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="Authors">
        <md-content class="md-padding">
          <div flex="" layout="row">
            <md-list flex="">
              <div  ng-repeat="user in users">
                <md-list-item ng-click="isCollapsed = !isCollapsed" ng-class="{'selected': !isCollapsed}">
                  <div class="md-list-item-text" layout="column">
                    <h3>  {{user.username}} <small>  | submissions: {{user.submissions.length}}</small> </h3>
                  </div>
                </md-list-item>
                <div uib-collapse="isCollapsed">
                  <div class="well well-lg">
                    <div>Username: {{user.username}}</div>
                    <div>Email: {{user.email}}</div>
                    <div>{{user.title}} <span>{{user.first_name}}</span>
                      <span>{{user.last_name}}</span>
                    </div>
                    <div>Address:  {{user.address}}</div>
                    <div>Institution {{user.institution}}</div>
                    <div>Submissions: {{user.submissions.length}}</div>
                    <div>Assigned Submissions: {{user.assigned_submissions.length}}</div>
                  </div>
                </div>
                <md-divider ></md-divider>
              </div>
            </md-list>

          </div>
        </md-content>
      </md-tab>
      <md-tab label="Reviewers">
        <md-content class="md-padding">
          <h3>List of Reviewrs</h3>
          <md-list flex="">
            <div  ng-repeat="reviewer in reviewers">
              <md-list-item ng-click="isCollapsed = !isCollapsed" ng-class="{'selected': !isCollapsed}">
                <div class="md-list-item-text" layout="column"> <h3>{{reviewer.username}} <small>{{reviewer.assigned_submissions.length}}</small> </h3> </div>
              </md-list-item>
              <div uib-collapse="isCollapsed">
                <div class="well well-lg">
                  <div>Username: {{reviewer.username}}</div>
                  <div>Email: {{reviewer.email}}</div>
                  <div>{{reviewer.title}} <span>{{reviewer.first_name}}</span>
                    <span>{{reviewer.last_name}}</span>
                  </div>
                  <div>Address:  {{reviewer.address}}</div>
                  <div>Institution: {{reviewer.institution}}</div>
                  <div>Submissions: {{reviewer.submissions.length}}</div>
                  <div>Assigned Submissions: {{reviewer.assigned_submissions.length}}</div>
                </div>
              </div>
              <md-divider ></md-divider>
            </div>
          </md-list>
        </md-content>
      </md-tab>
      <md-tab label="Submissions">
        <md-content class="md-padding">
          <h3>List of Submissions</h3>
          <md-list flex="">
            <div  ng-repeat="sub in submissions">
              <md-list-item ng-click="isCollapsed = !isCollapsed" ng-class="{'selected': !isCollapsed}">
                <div class="md-list-item-text" layout="column"> <h3>{{sub.title}} <small>{{sub.status}}</small>  </h3></div>
              </md-list-item>
              <div uib-collapse="isCollapsed">
                <div class="well well-lg">
                  {{sub}}
                 <div>ID: {{sub._id}}</div>
                 <div>Title: {{sub.title}}</div>
                 <div> Author: {{sub.author_id}}</div>
                 <div>Keywords: {{sub.keywords}}</div>
                 <div>Authors: {{sub.authors}}</div>
                 <div>Reviewer: {{sub.reviewer}}</div>
                  <md-button  ng-if="sub.path" target="_self" ng-href="{{sub.path}}" download="{{sub.path}}" class="md-fab md-primary" aria-label="Comment">
                    <md-tooltip md-direction="left"> Download Paper </md-tooltip>
                    <span class="glyphicon glyphicon-download-alt">
                    </span>
                  </md-button>
                  <md-button  ng-click="remove(sub,$index)" class=" md-fab md-warn" aria-label="Comment">
                    <md-tooltip md-direction="right"> Remove Submission </md-tooltip>
                    <span class="glyphicon glyphicon-remove">
                    </span>
                  </md-button>
                </div>
              </div>
              <md-divider ></md-divider>
            </div>
          </md-list>
        </md-content>
      </md-tab>
      <md-tab label="Reviews">
        <md-content class="md-padding">
          <h3>List of Reviews</h3>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
