<div layout="row"  class="login-container" layout-align="center center" >
  <md-card >
    <md-toolbar>
      <div class="md-toolbar-tools" layout-align="center center">
        <h2>Conference: <span>{{conf.name}}</span></h2>
      </div>
    </md-toolbar>
    <md-content layout="column" layout-align="center center" layout-margin layout-padding>
      <div>
        <span>Submissions Deadline</span>
        <md-datepicker style="background: transparent"
                       ng-model="conf.sub"
                       md-placeholder="Enter date">
        </md-datepicker>
        <md-button class="md-raised md-primary" ng-click="addSubmissionDeadline(conf.sub)">Update</md-button>
      </div>
      <div>
        <span>Reviews Deadline</span>
        <md-datepicker style="background: transparent"
                       ng-model="conf.rev"
                       md-placeholder="Enter date">
        </md-datepicker>
        <md-button class="md-raised md-primary" ng-click="addReviewDeadline(conf.rev)">Update</md-button>
      </div>
      <div ng-show="showSuccess">
        <span>{{showSuccess}}</span>
      </div>
    </md-content>
  </md-card>
</div>