<div ng-controller="NavigationController" flex="100">
  <div  class="md-whiteframe-6dp">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button ng-hide="hide()" class="md-icon-button" aria-label="More"  ng-click="toggleLeft()">
          <i class="material-icons">menu</i>
        </md-button>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More" ng-click="logout()">
          <i class="material-icons">exit_to_app</i>
        </md-button>
      </div>
    </md-toolbar>
  </div>

  <div ui-view="main@"></div>

</div>