<div ng-controller="NavigationController" flex="100">
  <div  class="md-whiteframe-6dp">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings"  ng-click="openLeftMenu()">
          <i class="material-icons md-48">account_circle</i>
        </md-button>
        <h2>
          <span ui-sref="root.dashboard" ng-bind="username"></span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More" ng-click="logout()">
          <i class="material-icons">exit_to_app</i>
        </md-button>
      </div>
    </md-toolbar>
  </div>

  <div ui-view="main@"></div>

</div>