<div ng-controller="NavigationController">
  <div  class="md-whiteframe-6dp">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings"  ng-click="openLeftMenu()">
          <i class="material-icons md-48">account_circle</i>
        </md-button>
        <h2>
          <span ng-bind="username"></span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More" ng-click="logout()">
          <i class="material-icons">exit_to_app</i>
        </md-button>
      </div>
    </md-toolbar>
    <div>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <div>
          <md-button class="md-raised" ui-sref="editprofile">Edit Profile</md-button>
        </div>
      </md-sidenav>
    </div>
  </div>

  <div ui-view="main@"></div>

  <div>
    <div id="footer" >
      <md-toolbar>
        <div class="footer-container">
          <div class="time">
            <span >{{clock| date:'medium'}}</span>
          </div>
        </div>
      </md-toolbar>
    </div>
  </div>
</div>