<div layout="row"  class="login-container" layout-align="center center" >
  <md-card >
    <md-toolbar>
      <div class="md-toolbar-tools" layout-align="center center">
        <h2>Login</h2>
      </div>
    </md-toolbar>

    <md-content layout="column" class="input-icons" layout-margin layout-padding>
      <md-input-container >
        <md-icon md-svg-src="img/email.svg" class=""></md-icon>
        <input ng-model="user.username" placeholder="Username">
      </md-input-container>

      <md-input-container>
        <md-icon md-svg-src="img/lock.svg" class="password"></md-icon>
        <input ng-model="user.password" type="password" placeholder="Password">
      </md-input-container>

      <div class="red" ng-if="error" align="center"> <span >*{{error}}</span> </div>
      <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
      <md-button class="md-raised" ui-sref="register">Register</md-button>
    </md-content>
  </md-card>
</div>