
<div  ng-controller="ReviewController" >
    <md-content layout-padding>
        <md-input-container class="md-block">
            <label>Reviewer Expertise</label>
        </md-input-container>
        <md-radio-group class="md-primary">
            <md-radio-button ng-repeat="d in reviewerExpertise"
                             ng-value="d.value"
                             ng-model="reviewer.reviewerExpertise"
                             ng-class="{'md-align-top-left': $index==1}" >
                {{ d.label }}<br/>
            </md-radio-button>
        </md-radio-group>
        <md-input-container class="md-block">
            <label>Overall Evaluation</label>
        </md-input-container>
        <md-radio-group class="md-primary">
            <md-radio-button ng-repeat="d in overallEvaluation"
                             ng-value="d.value"
                             ng-model="reviewer.overallEvaluation"
                             ng-class="{'md-align-top-left': $index==1}" >
                {{ d.label }}<br/>
            </md-radio-button>
        </md-radio-group>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Summary</label>
            <input ng-model="reviewer.summary"/>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Major Strong Points</label>
            <input ng-model="reviewer.majorStrongPoints"/>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Major Weak Points</label>
            <input ng-model="reviewer.majorWeakPoints"/>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Detailed Summary</label>
            <input ng-model="reviewer.detailedSummary"/>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="submitReview()">Submit Review</md-button>
        <span ng-show="showSuccess">"review succesfully submitted"</span>
    </md-content>
</div>
