
<md-radio-group ng-model="data.group1">
    <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
    <md-radio-button value="Banana"> Banana </md-radio-button>
    <md-radio-button value="Mango">Mango</md-radio-button>
</md-radio-group>
<form action = "">
    1<input type="radio" name="RevExp" value="1" > Not familiar with the topic <br>
    2<input type="radio" name="RevExp" value="2" > Familiar with the topic <br>
    3<input type="radio" name="RevExp" value="3" > Neutral <br>
    4<input type="radio" name="RevExp" value="4" > Read and understood the topic <br>
    5<input type="radio" name="RevExp" value="5" > Expert <br>
</form>

//overall evaluation
<form action = "">
    1<input type="radio" name="OvrEva" value="1"> Strong Reject <br>
    2<input type="radio" name="OvrEva" value="2" > Can be better <br>
    3<input type="radio" name="OvrEva" value="3" > Neutral <br>
    4<input type="radio" name="OvrEva" value="4" > Accept <br>
    5<input type="radio" name="OvrEva" value="5" > Strong Accept <br>
</form>

Summary
<textarea>
 Enter the summary of your review
</textarea>
<br>
Major Strong Points
<textarea>
    If the author has positive points
</textarea>
<br>
Major Negative Points
<textarea>
    If the author has negative points
</textarea>
<br>